@use '@angular/material' as mat;
@use 'sass:map';
@use 'palette' as palette;
@use '../../../../libs/shared/src/lib/ui/instructions-banner/instructions-banner.theme'
  as instruction_banner;
@import '~@ng-select/ng-select/themes/material.theme.css';

$webstory-primary: mat.define-palette(palette.$webstory-primary-palette, 400);
$webstory-accent: mat.define-palette(palette.$webstory-accent-palette, 600);

$webstory-warn: mat.define-palette(palette.$webstory-warn-palette, 300);

$webstory-theme: mat.define-light-theme(
  (
    color: (
      primary: $webstory-primary,
      accent: $webstory-accent,
      warn: $webstory-warn,
    ),
  )
);

@include mat.core();

@include mat.all-component-themes($webstory-theme);

@include instruction_banner.theme($webstory-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
